@define-color theme_base_color #342f3f;
@define-color theme_bg_color #00030a;
@define-color theme_bg_hover_color #00030a;
@define-color theme_fg_color #ffffff;
@define-color theme_text_color #ffffff;
@define-color theme_selected_bg_color #00030a;
@define-color theme_selected_fg_color #ffffff;
@define-color theme_unfocused_bg_color #00030a;
@define-color borders_visible #6c3964;
@define-color borders_invisible #00030a;
@define-color warning_color #f49d53;
@define-color accent_color #f49d53;
@define-color highlight_color #6c3964;
@define-color highlight_hover_color rgba(108, 57, 100, 0.2);

/* Global */
* {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
  border-color: @borders_visible;
}

/* WINDOWS */
window {
  background-color: @theme_bg_color;
  padding: 20px;
}

/* TITLEBAR / HEADERBAR */

headerbar {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
  border-bottom: 1px solid #fff;
  padding: 6px;
}

headerbar button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 4px 8px;
}

headerbar button:hover {
  background-color: @theme_bg_hover_color;
}

headerbar button:active {
  background-color: @highlight_color;
}


/* BUTTONS */

button {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
  border: 1px solid @borders_invisible;
  border-radius: 3px;
  padding: 6px 12px;
  min-height: 24px;
}

button:hover {
  background-color: @theme_bg_hover_color;
  border-color: @highlight_color;
}

button:active {
  background-color: @theme_bg_color;
  color: @theme_selected_fg_color;
}

button:disabled {
  opacity: 0.5;
}


/* ENTRY (TEXT INPUT) */

entry {
  background-color: @theme_bg_color;
  color: @theme_text_color;
  border: 1px solid @borders_visible;
  border-radius: 3px;
  padding: 6px;
  min-height: 32px;
}

entry:focus {
  border-color: @accent_color;
  box-shadow: 0 0 3px @accent_color;
}

entry:disabled {
  opacity: 0.5;
}

/* SCROLLBARS */

scrollbar {
  background-color: transparent;
}

scrollbar trough {
  background-color: rgba(255,255,255,0.05);
  border-radius: 0;
}

scrollbar slider {
  background-color: rgba(255,255,255,0.2);
  border-radius: 0;
  min-width: 10px;
  min-height: 10px;
}

scrollbar slider:hover {
  background-color: @highlight_hover_color;
}

scrollbar slider:active {
  background-color: @accent_color;
}

/* MENUS */

menu, .menu {
  background-color: @theme_bg_color;
  border: 1px solid @borders_visible;
  padding: 4px;
}

menuitem, .menuitem {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0px;
  background-clip: padding-box;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  min-height: 28px;
}

menuitem:hover,
.menuitem:hover {
  background-image: none;
  border-image: none;
  background-color: @highlight_hover_color;
  color: @theme_text_color;
  border-color: @highlight_hover_color;
}

menuitem:active,
.menuitem:active {
  background-image: none;
  border-image: none;
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
  border-color: @theme_selected_bg_color;
}


/* SEPARATORS */

separator {
  background-color: transparent;
  min-width: 5px;
  min-height: 5px;
}


/* NOTEBOOK (TABS) */

notebook {
  background-color: @theme_bg_color;
}

notebook header {
  background-color: @theme_bg_color;
  border-bottom: 1px solid #fff;
}

notebook tab {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 3px 6px;
  color: @theme_fg_color;
}

notebook tab:hover {
  background-color: @highlight_hover_color;
}

notebook tab:checked {
  background-color: @theme_bg_color;
  border-bottom: 2px solid @highlight_color;
}


/* SIDEBAR */

.sidebar {
  background-color: @theme_bg_color;
  border-right: 1px solid @borders_invisible;
}

/* HOVER DANS LES LISTES / FICHIERS */
treeview.view {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
}

treeview.view header button {
  background-color: @theme_bg_color;
  border: 1px solid @borders_invisible;
  padding: 4px 8px;
}

list row:hover,
treeview.view:hover,
.iconview:hover {
  background-color: @highlight_hover_color;
  border-radius: 0px;
  color: @theme_text_color;
}

/* Selected / actif dans les listes / fichiers */
list row:selected,
treeview.view:selected,
.iconview:selected {
  background-color: @highlight_color;
  border-radius: 0px;
  color: @theme_selected_fg_color;
}


/* TOOLBAR */

toolbar {
  background-color: @theme_bg_color;
  border-bottom: 1px solid #fff;
  padding: 4px;
}

toolbar button,
.toolbar button {
  padding: 4px 8px;
  margin: 2px;
  border-radius: 0px;
  background-color: @theme_bg_color;
  color: @theme_fg_color;
}

toolbar button:hover,
.toolbar button:hover {
  background-color: @theme_bg_hover_color;
}

toolbar button:active,
.toolbar button:active {
  background-color: @highlight_color;
  color: @theme_selected_fg_color;
}


/* SLIDERS (GTK SCALE) */

scale {
  background: transparent;
  border-radius: 10px;
}

scale trough {
  background-color: @highlight_hover_color;
  min-height: 4px;
  border-radius: 10px;
}

scale trough highlight {
  background-color: @accent_color;
}

scale slider {
  background-color: @theme_fg_color;
  border: 1px solid @accent_color;
  min-width: 10px;
  min-height: 10px;
  border-radius: 10px;
}

scale slider:hover {
  background-color: #fff;
}

scale slider:active {
  background-color: @highlight_color;
}

/* Checkboxes */
checkbutton check {
  background-color: @theme_bg_color;
  border: 1px solid @borders_visible;
  border-radius: 3px;
  min-width: 16px;
  min-height: 16px;
}

checkbutton check:checked {
  background-color: @accent_color;
  border-color: @accent_color;
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
}

checkbutton check:hover {
  border-color: @theme_bg_hover_color;
}


/* RADIO BUTTONS */

radiobutton radio {
  background-color: @theme_bg_color;
  border: 1px solid @borders_visible;
  border-radius: 50%;
  min-width: 16px;
  min-height: 16px;
}

radiobutton radio:checked {
  background-color: @theme_bg_color;
  border-color: @accent_color;
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
}

radiobutton radio:hover {
  border-color: @theme_bg_hover_color;
}

/* Spinbutton */
spinbutton {
  background-color: @theme_base_color;
  border: 1px solid @borders_visible;
  border-radius: 3px;
}

spinbutton button {
  border: none;
  background-color: transparent;
}

spinbutton button:hover {
  background-color: @theme_bg_hover_color;
}

/* Progressbar */
progressbar {
  background-color: transparent;
}

progressbar trough {
  background-color: rgba(255,255,255,0.1);
  border-radius: 3px;
  min-height: 6px;
}

progressbar progress {
  background-color: @highlight_color;
  border-radius: 3px;
}

/* Tooltips */
tooltip {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
  border: 1px solid @borders_visible;
  border-radius: 3px;
  padding: 6px;
}

/* Popovers */
popover {
  background-color: @theme_bg_color;
  border: 1px solid @borders_visible;
  border-radius: 6px;
  padding: 6px;
}

popover > contents {
  background-color: @theme_bg_color;
}
